/********* Fonts **********/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: /*local('Roboto'), 
  	local('Roboto-Regular'),*/
  	url('Roboto-Regular.eot?#iefix') format('embedded-opentype'), 
	url('Roboto-Regular.woff') format('woff'),
  	url('../../dist/fonts/Roboto-Regular.ttf') format('truetype'),
  	url('Roboto-Regular.svg#svgFontName') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: /*local('Roboto Medium'), 
  	local('Roboto-Medium'), */
  	url('Roboto-Medium.eot?#iefix') format('embedded-opentype'), 
	url('Roboto-Medium.woff') format('woff'),
  	url('../../dist/fonts/Roboto-Medium.ttf') format('truetype'),
  	url('Roboto-Medium.svg#svgFontName') format('svg');
}

/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

header {
	color: #00BCD4;
	height: 56px;
	margin: 0 0 14px 0;
	text-align: center;
}

p {
	margin: 8px 0 0 0;
}

.container p {
	padding: 0;
	text-align: center;
}

.resp {
	border: 1px solid black;
	float: left;
	height: auto;
   	margin: 10px;
   	max-width: 320px;
   	padding: 10px;
}

/****** Header Styling ******/

header p {
	margin: 16px 0 5px 0;
}

.menu {
	color: #727272;
	margin: 0;
	padding: 6px;
	text-decoration: none;
}

.menu:visited {
	color: #727272;
}

.menu:hover {
	color: #FFA000;
}

.menu:active {
	color: #FF630D;
}

header a ~ p {
	/*margin: 0;*/
	color: #ECEFF1;
	display: inline;
	padding: 0;
}

#display-name {
	font-weight: 400;
}

/****** Login Styling ******/

.login {
	margin: 86px auto 0 auto;
	text-align: center;
}

#login-btn {
	padding: 7px 5px;
	width: 225px;
}

.btn p {
	margin: 8px 0 0 0;
	padding: 0;
}

.btn > img {
	float: left;
	margin-left: 10px
}

/****** Logo Div Styling ******/

img {
	display: block;
	margin: 0 auto;
}

.clementine-text { /* Styling for the Clementine.js text */
	color: #FFA000;
	font-size: 50px; /*60px;*/
	font-weight: 500;
	margin: -25px 0 0 0;
	padding: 0;
}

/****** Click Styling ******/

.btn-container {	/* Styling for the div that contains the buttons */
	margin: -10px auto 0 auto;
	text-align: center;
}

.btn {	/* Styling for buttons */
	background-color: #00BCD4;
	border: 0;
	border-radius: 3px;
	color: white;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	margin: 0 8px;
	padding: 10px 5px;
	/*width: 100px;*/
}

.btn:focus {	/* Remove outline when hovering over button */
	outline: none;
}

.btn:active {	/* Scale the button down by 10% when clicking on button */
	-o-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-moz-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
}

.btn-delete {	/* Styling for delete button */
	background-color: #ECEFF1;
	color: #212121;
}

#click-nbr {
	font-weight: 400;
}

/****** Profile Styling ******/

.github-profile {
	background-color: #EEE;
	border-radius: 3px;
	color: #000;
	height: 200px;
	margin: 86px auto 0 auto;
	text-align: center;
	width: 350px;
}

.github-profile p:first-child {
	padding-top: 16px;
}

.github-profile p:nth-child(5) {
	margin-bottom: 16px
}

.github-profile p {
	margin: 0 0 0 16px;
	text-align: left;
}

.profile-value {
	font-weight: 400;
}

span {
	font-weight: 500;
}

.github-profile > img {
	margin-bottom: 16px;
	padding-top: 16px;
}

.github-profile .menu:hover {
	color: #FFA000;
}

.github-profile .menu:active {
	color: #FF630D;
}

#menu-divide {
	color: #FFFFFF;
	display: inline;
	/*margin: 0;*/
}